*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    animation: sky 5.5s 2s forwards;
    background-color:#99a492;
}
img{
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
}
.sun{
    position:absolute;
    left: 59%;
    top:5%;
    height: 100px;
    width: 100px;
    background-color: #fcfc3a;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 10px  #fcfc3a;
    animation:sun 15s forwards;
}

@keyframes sun {
    100%{
        transform: translateY(468px);
    }   
}

@keyframes sky{
    20%{
        background-color: #547a6d;
    }
    40%{
        background-color: #35675e;
    }
    60%{
        background-color: #26524f;
    }
    80%{
        background-color: #083035;
    }
    100%{
        background-color: #010e0f;
    }
}

.moon{
    position:absolute;
    left: 20%;
    bottom:5%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: transparent;
    box-shadow: 20px 10px #fff;
    animation:moon 15s forwards;
}

@keyframes moon {
    100%{
        transform: translateY(-468px);
    }   
}

.cloud{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.cloud1{
    position:absolute;
    top: 0%;
    left: 0%;
    max-width: 600px;
    z-index: 10;
    animation: clouds 25s linear infinite;
    height: 200px;
    width:400px;
}
.cloud2{
    position:absolute;
    top: 0%;
    left: 0%;
    max-width: 500px;
    z-index: 10;
    animation: clouds 17.5s linear infinite;
    height: 200px;
    width:400px;
}
.cloud3{
    position:absolute;
    top: 0%;
    left: 0%;
    max-width: 600px;
    z-index: 10;
    animation: clouds 40s linear infinite;
    height: 200px;
    width:400px;
}
.cloud4{
    position:absolute;
    top: 200px;
    right: 0%;
    max-width: 300px;
    z-index: 10;
    animation: clouds 40s linear infinite;
    height: 200px;
    width:400px;
}
.cloud5{
    position:absolute;
    top: 150px;
    right: 0%;
    max-width: 500px;
    z-index: 10;
    animation: clouds 20s linear infinite;
    height: 200px;
    width:400px;
}
.cloud6{
    position:absolute;
    top: 75px;
    right: 0%;
    max-width: 400px;
    z-index: 10;
    animation: clouds 15s linear infinite;
    height: 200px;
    width:400px;
}

@keyframes clouds{
    0%{
        transform: translateX(-100%) scale(1);
    }
    100%{
        transform: translateX(400%) scale(1.2);
    }
}

@media (max-width:600px){
    img{
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
    }
    .sun{
        position:absolute;
        left: 53%;
        bottom:20%;
        top:60%;
        height: 50px;
        width: 50px;
        background-color: #fcfc3a;
        border-radius: 50%;
        box-shadow: 5px 5px 20px 10px  #fcfc3a;
        animation:sun 15s forwards;
    }
    @keyframes sun {
        100%{
            transform: translateY(300px);
        }   
    }
    .moon{
        position:absolute;
        left: 20%;
        bottom:5%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        opacity: transparent;
        box-shadow: 7px 5px #fff;
        animation:moon 15s forwards;
    }
    @keyframes moon {
        100%{
            transform: translateY(-300px);
        }   
    }
    .cloud1{
        position:absolute;
        top: 50%;
        left: 0%;
        max-width: 600px;
        z-index: 10;
        animation: clouds 25s linear infinite;
        height: 200px;
        width:400px;
    }
    .cloud2{
        position:absolute;
        top: 60%;
        left: 0%;
        max-width: 500px;
        z-index: 10;
        animation: clouds 17.5s linear infinite;
        height: 200px;
        width:400px;
    }
    .cloud3{
        position:absolute;
        top: 0%;
        left: 0%;
        max-width: 600px;
        z-index: 10;
        animation: clouds 40s linear infinite;
        height: 200px;
        width:400px;
    }
    .cloud4{
        position:absolute;
        top: 200px;
        right: 0%;
        max-width: 300px;
        z-index: 10;
        animation: clouds 40s linear infinite;
        height: 200px;
        width:400px;
    }
    .cloud5{
        position:absolute;
        top: 150px;
        right: 0%;
        max-width: 500px;
        z-index: 10;
        animation: clouds 20s linear infinite;
        height: 200px;
        width:400px;
    }
    .cloud6{
        position:absolute;
        top: 75px;
        right: 0%;
        max-width: 400px;
        z-index: 10;
        animation: clouds 15s linear infinite;
        height: 200px;
        width:400px;
    }
    
}
